body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Évite que le corps dépasse l'écran */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    max-height: 90vh; /* Limite la hauteur maximale pour que le contenu ne dépasse pas l'écran */
    overflow-y: auto; /* Ajoute un défilement vertical si le contenu dépasse */
}

h1 {
    text-align: center;
    color: #333;
}

.audio-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.audio-list li {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.audio-list p {
    margin: 0 0 10px;
    font-weight: bold;
}

audio {
    width: 100%;
}
