body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.container {
    flex: 1;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #1DB954;
}

.audio-list {
    list-style: none;
    padding: 0;
}

.audio-list li {
    background: #282828;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    transition: background 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-list li:hover {
    background: #1DB954;
}

.audio-list p {
    margin: 0;
    font-size: 1.5em; /* Taille de police augmentée */
    font-weight: bold;
    text-align: center;
}

audio {
    width: 100%;
    margin-top: 10px;
}

.fake-audio-control {
    width: 100%;
    margin-top: 10px;
    background: #404040;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.fake-audio-control .play-button {
    width: 30px;
    height: 30px;
    background: #1DB954;
    border-radius: 50%;
    position: relative;
}

.fake-audio-control .play-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 10px solid white;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.fake-audio-control .audio-timeline {
    flex: 1;
    height: 5px;
    background: #606060;
    margin-left: 10px;
    position: relative;
    border-radius: 5px;
}

.fake-audio-control .audio-timeline .progress-bar {
    width: 30%;
    height: 100%;
    background: #1DB954;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background: #282828;
    color: #ccc;
    width: 100%;
}

footer a {
    color: #1DB954;
    text-decoration: none;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    .audio-list p {
        font-size: 1.2em; /* Taille de police ajustée pour les petits écrans */
    }
    .container {
        padding: 10px;
    }
    .audio-list li {
        padding: 10px;
    }
    audio {
        height: 40px; /* Ajustement pour les petits écrans */
    }
}
